{{ define "main" }}
  <article id="single">
    <header>
      <h1>{{ .Date | time.Format ":date_full" }}</h1>
    </header>
    {{ .Content }}
  </article>

  <nav id="single-nav">
    {{ with .Prev }}
      <div id="single-nav-previous">
        <a href="{{ .RelPermalink }}">&laquo;
          {{ .Date | time.Format ":date_full" }}
        </a>
      </div>
    {{ end }}
    {{ with .Next }}
      <div id="single-nav-next">
        <a href="{{ .RelPermalink }}">
          {{ .Date | time.Format ":date_full" }} &raquo;
        </a>
      </div>
    {{ end }}
  </nav>

{{ end }}
