:root {
  --text-color: #222;
}

body {
  color: var(--text-color);
  font-family: system-ui, sans-serif;
  line-height: 1.2;
  margin-inline: auto;
  max-width: 36em;
  padding-inline: 1em;
}

a {
  text-decoration-style: dotted;
  text-underline-offset: 0.15em;
}

h1 a {
  text-decoration: none;
}

.post-list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1em;
}

.post-list article > * {
  display: inline;
  font-size: 1em;
}

#single {
  line-height: 1.5;
}

#single h1 {
  font-size: 2.5em;
}

#single h2 {
  font-size: 1.5em;
}

#site-title {
  font-size: 1.8em;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.2em;
}

#site-title a {
  color: var(--text-color);
}
