body {
  color: #222;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  margin-inline: auto;
  max-width: 40em;
  padding-inline: 1em;
}

a {
  text-decoration: none;
}

article header {
  align-items: baseline;
  border-bottom: 1px solid lightgray;
  column-gap: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

article h1 {
  margin: 0;
}

.permalink {
  font-size: 0.9em;
}
