:root {
  --text-color: #222;
}

body {
  color: var(--text-color);
  font-family: system-ui, sans-serif;
  line-height: 1.2;
  margin-inline: auto;
  max-width: 550px;
  padding-inline: 1em;
}

a {
  text-decoration-style: dotted;
  text-underline-offset: 0.15em;
}

h1 a {
  text-decoration: none;
}

.post-list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1em;
}

.post-list article > * {
  display: inline;
  font-size: 1em;
}

#single h1 {
  font-size: 2.5em;
}

#single h2 {
  font-size: 1.5em;
  margin-top: 2em;
}

#single p,
#single li {
  line-height: 1.5;
  margin-bottom: 1.5em;
}

#site-title {
  font-size: 1.8em;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.2em;
}

#site-title a {
  color: var(--text-color);
}

footer {
  margin-top: 8em;
}

figure {
  margin-inline: 0;
  margin-bottom: 40px;
  margin-top: 0;
}

img,
video {
  border-radius: 8px;
  height: auto;
  max-width: 100%;
}

figcaption {
  color: rgb(79, 79, 79);
  font-size: 0.8em;
  text-align: center;
}

#single-nav {
  font-weight: 500;
  margin-top: 80px;
}

#single-nav-next {
  text-align: right;
}

blockquote {
  margin-left: 0;
  padding-left: 10px;
  border-left: 6px solid rgb(113, 220, 222);
}
